<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Thank you for registering to Postune!</h2>
    <p>Welcome <%= @user.name %>!</p>
    <p>To continue, please activate your account with the following URL: </p>
    <p><%= @url %></p>
    <p>Thank you!</p>
    <p>- People at Postune</p>
  </body>
</html>