<div id="library-nav-wrapper">
	<div class="left" id="user-playlist-wrapper">
		<ul>
			<li class="playlist-item"><%= link_to "Library", player_path(@library.playlist.id)  %></li>
		</ul>
		<ul id="user-playlists">
			<li class="title">Playlists</li>
			<% if !@playlist_first.nil? %>
				<% current_user.playlist.each do |playlist| %>
					<% if playlist != @library.playlist %>
					<li id="playlist-<%= playlist.id %>" class="playlist-item">
						<%= link_to playlist.name, player_path(playlist) %>
					</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>	
	</div>

	<div class="left" id="main-library-window">
		<div id="playlist-loaded">
			<% if !@playlist_first.nil? %>
				<%= render 'player/playlist_show', :songs => @playlist_first %>
			<% end %>
		</div>
	</div>
</div>
<div class="clear" id="player">
	<div id="youtube-player"></div>
</div>

