<div>
	<table>
		<tbody>
			<tr>
				<td><h2><%= @song.title %></h2></td>
				<td><%= @song.url %></td>
			</tr>
			<tr>
				<td><strong>Album</strong></td>
				<td><%= @song.album %>
			</tr>	
			<tr>
				<td><strong>Artist</strong></td>
				<td><%= @song.artist %></td>
			</tr>
		</tbody>
	</table>
</div>

