<div id="tabbed-results">
	<ul>
		<li><a href="#yt-tab">YouTube</a></li>
		<li><a href="#sc-tab">Soundcloud</a></li>
	</ul>
	<div id="yt-tab">
		<%= render 'music/search_result_form', :processed => @processed_yt %>
	</div>
	<div id="sc-tab">
		<%= render 'music/search_result_form', :processed => @processed_sc %>
	</div>
</div>