* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table {
	width: 100%;
}

th {
	background: #FFF2CE;
}

td, th {
	padding: 5px;
}

tr:nth-child(odd) {
	background: #EFEFEF;
}

a {
	text-decoration: none;
	color: #4D4D4D;
	font-style: italic;
}

input {
	padding: 5px;
}

label {
	padding: 5px 0px;
	display: block;
}

input[type="radio"]+label {
	display: inline;
}

.field {
	margin: 5px 0px;
}

form {
	padding: 5px;
}

h1 {
	padding: 5px;
}

.error {
	color: #FF000A;
}

.container {
	max-width: 1280px;
	margin: auto;
}

header {
	padding: 5px;
}

header {
	box-shadow: 1px 1px 5px #666;
	overflow: hidden;
}

nav {
	margin: 0px 5px;
}

nav a {
	font-style: normal;
	color: #FFFFFF;
	padding: 3px 5px;
	background: #000000;
	font-weight: bold;
}

.header-pane {
	padding: 13px 0px;
}
	
.left {
	float: left;
}

.right {
	float: right;
}

.main {
	padding: 15px 5px;
	
	h1 {
		border-bottom: 5px solid #BFBFBF;
		background: #EFEFEF;
		margin: 5px 0px;
	}
}

.breadcrumbs {
	background: #EFEFEF;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

.info {
	padding: 5px;
	border-top: 1px #EFEFEF solid;
}

.flash {
	text-align: center;
	padding: 5px;
	margin: 5px auto;
	width: 300px;
	background: #FBFEE0;
}

footer {
	text-align: center;
	font-size: 10px;
}
