/*
	Postune (C)
	CSS
	V 1.0
	Ferris Tseng, Joseph Esposito, Jimin Jin
	Player / Application / 
*/
#library-nav-wrapper {
	overflow: hidden;
}
#user-playlist-wrapper {
	background: #F1F1F1;
	border-right: #999999 solid 1px;
	width: 20%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
	min-width: 216px;
}
.playlist-item {
	box-shadow: 0px 0px 5px #DCDCDC;
	text-shadow: 1px 1px 1px #FFF;
	a {
		padding: 15px 10px;
		border-bottom: solid 1px #DCDCDC;
		display: block;
		color: #333333;
	}
}
.playlist-list-song:hover {
	cursor: pointer;
}
.title {
	padding: 15px 10px;
	font-weight: bold;
	font-size: 14px;
}
.selected {
	background: #FFFFFF;
}
#main-library-window {
	width: 80%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
	min-width: 864px;
}
#playlist-loaded a {
	color: #333333;
	text-shadow: 1px 1px 1px #FFF;
}
.playlist-playing {
	font-weight: bold;
}
#player {
	min-width: 1080px;
	height: 50px;
	background: url(/assets/player-bg.png);
}
#soundcloud-player, youtube-player {
	display: none;
}
