/*
	Postune (C)
	CSS
	V 1.0
	Ferris Tseng, Joseph Esposito, Jimin Jin
	Main / Front End / Application Layout
*/

/*
	General
*/

*, body { margin: 0px; padding: 0px; }
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: hidden;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.button {
	border: #999 solid 1px;
	padding: 3px 7px;
	color: #333;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 245)), to(rgb(221, 221, 221)));
	font-weight: bold;
}
.button:hover {
	cursor: pointer;
}
.button:active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(221, 221, 221)), to(rgb(245, 245, 245)));
}
.left {
	float: left;
}
.right {
	float: right;
}
label {
	display: block;
	font-weight: bold;
	margin: 15px 0px;
}
input[type="text"], input[type="password"] {
	padding: 10px;
	font-size: 24px;
	border: 1px solid #CCC;
	background: #EEEEEE;
	width: 100%;
	box-sizing: border-box;
}
input[type="submit"], .medium {
	margin: 15px 0px;
	padding: 5px 10px;
	font-size: 13px;
}
input[readonly] {
	color: #666;
}
.error {
	padding: 10px 5px;
	background: #F1C4C4;
	margin: 15px 0px;
	border: 1px solid #E5A7A7;
}
.hidden {
	display: none;
}
.collapsable {
	padding: 25px;
}
.collapsable-title {
	padding: 15px;
	background: #F5F5F5;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
}
.collapsable-title:hover {
	cursor: pointer;
}
table {
	table-layout: fixed;
	width: 100%;
	td,th {
		padding: 7px;
	}
	th {
		text-align: left;
		background: #F5F2DD;
	}
	tr:nth-child(odd) {
		background: #EFEFEF;
	}
}
.std-window {
	padding: 25px;
}
.full {
	min-width: 1080px;
}
.horizontal-spacing {
	height: 15px;
	width: 15px;
}
#logo {
	padding-top: 1px;
	display: block;
}

/* 
	Nav and Header Stylings
*/

header {
	padding: 5px 10px 5px 5px;
	background: #F5F5F5;
	overflow: hidden;
	min-width: 1065px;
	border-bottom: #333 5px solid;
	height: 38px;
}
.user-nav {
	margin-top: 7px;
	padding: 5px;
	display: block;
	font-weight: bold;
	color: #333;
}
.user-nav-open {
	background: rgba(0,0,0,0.9);
	z-index: 9999;
}
.user-nav-open {
	color: #FFFFFF;
}
#user-hidden-menu {
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.9);
	padding: 0px 5px;
	min-width: 75px;
	z-index: 0;
	box-shadow: 2px 2px 3px #CCC;
}
#user-hidden-menu a {
	color: #FFFFFF;
	font-weight: bold;
}
#user-hidden-menu li {
	margin: 5px 0px;
}
.actions-bar {
	overflow: hidden;
	padding: 10px 5px;
	background: #F1F1F1;
	border-bottom: #999999 solid 1px;
}
#upper-nav {
	min-width: 1070px;
}
