<table>
	<tbody>
		<tr>
			<td><strong>id</strong></td>
			<td>integer</td>
			<td>Automatically incremented ID value to identify the record</td>
		</tr>
		<tr>
			<td><strong>name</strong></td>
			<td>string/td>
			<td>A non-unique string that identifies the playlist</td>
		</tr>
		<tr>
			<td><strong>user_id</strong></td>
			<td>integer</td>
			<td>A foreign key that describes who the playlist belongs to</td>
		</tr>
		<tr>
			<td><strong>created_at<strong></td>
			<td>datetime</td>
			<td>The date that the playlist was created</td>
		</tr>
		<tr>
			<td><strong>updated_at<strong></td>
			<td>datetime</td>
			<td>The last time the playlist's record was updated</td>
		</tr>
	</tbody>	
</table>
