<ul>
	<% current_user.playlist.each do |playlist| %>
		<li class="playlist-<%= playlist.id %>">
			<%= link_to playlist.name, "#" %>
		</li>
	<% end %>
</ul>	
<% if admin? %>
	<%= link_to "Admin", admin_index_path %>
<% end %>
