<div class="left" id="user-playlist-wrapper">
	<ul id="user-playlists">
		<% current_user.playlist.each do |playlist| %>
			<li class="playlist-<%= playlist.id %>">
				<%= link_to playlist.name, profile_path(playlist) %>
			</li>
		<% end %>
	</ul>	
</div>
<div class="left" id="playlist-loaded">
	<%= render 'profile/playlist_show', :playlist_songs => @first_playlist %>
</div>
<div class="clear">
	<% if admin? %>
		<%= link_to "Admin", admin_index_path %>
	<% end %>
</div>
